
.button {
    padding: 5px 10px;
    display: inline;
    background: #777 url(button.png) repeat-x bottom;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-shadow: 3px 3px #666;
    font-size: 150%
    }
.button:hover {
    background-position: 0 -96px;
    }
.button:active {
    background-position: 0 top;
    position: relative;
    top: 1px;
    padding: 6px 10px 4px;
    }
.button.red { background-color: #e50000; }
.button.purple { background-color: #9400bf; }
.button.green { background-color: #58aa00; }
.button.orange { background-color: #ff9c00; }
.button.blue { background-color: #2c6da0; }
.button.black { background-color: #333; }
.button.white { background-color: #fff; color: #000; text-shadow: 1px 1px #fff; }
.button.small { font-size: 75%; padding: 6px 14px; }
.button.small:hover { background-position: 0 -100px; }
.button.small:active { padding: 4px 7px 2px; background-position: 0 top; }
.button.large { font-size: 125%; padding: 14px 24px; }
.button.large:hover { background-position: 0 -70px; }
.button.large:active { padding: 16px 24px 12px; background-position: 0 top; }

.image-cool
{  
  background: #f4f4f4;  
  border: 5px double #bbbbbb;    
  margin: 10px auto;
  position: relative;  
}  

.image-cool:hover {
  border:5px double #000000;
  opacity:0.5;
}
